#Data
/data
*/results
/results
*.txt
*.str
*.docx
*.csv
*.html
*.m4a
*.mp4
*.wav
raw_data.xlsx

ml_presentation/

# Requierements
!src/whisper_diarization/requirements.txt
!src/whisper_diarization/constraints.txt

__pycache__/
temp_outputs/

#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf