# Folders
/data
*/results
/results
/evaluation
/interviews_corrected
Reports

# Files types
*.txt
*.str
*.docx
*.csv
*.html
*.m4a
*.mp4
*.wav
*.png
*.xlsx

# Installation files
!requirements.txt
!constraints.txt

# Byte-compiled / optimized / DLL files
__pycache__/
temp_outputs/
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf